@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Libre Baskerville", serif;
}

footer {
  font-family: "Kalam", Times, serif;
}

.modal-box {
  z-index: 2222;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

div .moda-box div picture img {
  object-fit: contain !important;
}