@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Libre Baskerville', serif;
}

footer {
	font-family: 'Kalam', Times, serif;
}

.modal-box {
	background-color: transparent;
	height: 100%;
}

.modal-box img {
	object-fit: contain !important;
}

progress::-webkit-progress-value {
  background-color: black;
}

progress::-moz-progress-bar {
  background-color: black;
}

progress::-ms-fill {
  background-color: black;
}
 
progress::-webkit-progress-bar {
  background-color: rgb(240, 234, 234);
}






